{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/knowledge.css' %}">


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Welcome to Tutor Trade</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if messg %}
                  <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                  <a class="nav-item nav-link" href="{% url 'blog-contact' %}" style="color:white;">Contact Us</a>

                {% else %}

                    <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'blog-contact' %}" style="color:white;">Contact Us</a>

                    <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}">Knowledge Board</a>
                {% endif %}

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">

              {% if messg %}

                <a class="nav-item nav-link" href="{% url 'blog-login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'blog-signup' %}">Signup</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Logout</a>
                <a class="nav-item nav-link" href="{% url 'blog-myProfile' %}">My Profile</a>
                <a class="nav-item nav-link" href="{% url 'blog-createpost' %}">Make A Post</a>
              {% endif %}

            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
        </div>
      </div>
      <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <!-- Navbar Right Side 
            <div class="navbar-nav">
               <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
               <a class="nav-item nav-link" href="{% url 'blog-contact' %}" style="color:white;">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">-->
    </main>

      <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #5f788a;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #5f788a;
  text-align: center;
  cursor: pointer;
  width: 100%;
}



.button:hover {
  background-color: #5f788a;
}
</style>
</head>
<body>

<h2>Meet The Team</h2>
<p>Verve Slug Academics</p>
<br>
<style>
  a{color:white;}
  </style>

<div class="row">
  <div class="column">
    <div class="card">
 <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
       <div class="container">
        <h2>Cris Castillo</h2>
        <p class="title">Product Owner</p>
        <p>Founder of multi-million dollar Tutoring App</p>
        <p>ccarri11@ucsc.edu</p>
        <p><button class="button"><a href="mailto:ccarri11@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
      <div class="container">
        <h2>Brian Alegria</h2>
        <p class="title">Senior Developer</p>
        <p>My current rate is $500 per line of code</p>
        <p>brpereir@ucsc.edu</p>
        <p><button class="button"><a href="mailto:brpereir@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
      <div class="container">
        <h2>Dayna Kim</h2>
        <p class="title">Senior Developer</p>
        <p>250k a year.</p>
        <p>dkim197@ucsc.edu</p>
        <p><button class="button"><a href="mailto:dkim197@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
      <div class="container">
        <h2>Kisoo Kim</h2>
        <p class="title">Senior Developer</p>
        <p>Full Stack engineer</p>
        <p>kkim93@ucsc.edu</p>
        <p><button class="button"><a href="mailto:kkim93@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
      <div class="container">
        <h2>Josh Rony</h2>
        <p class="title">Senior Developer</p>
        <p>Developer</p>
        <p>jrony@ucsc.edu</p>
        <p><button class="button"><a href="mailto:jrony@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
      </div>
    </div>
  </div>
</div>

</body>



          {% block content %}{% endblock %}
      <!-- </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>Tutor Trade a new and free tutoring service.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>

  </body>
</html>
