<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>

<form action="/postpasswordreset/" method="post">
    {% csrf_token %}     

    <div class="row" style="margin-top: 10px; margin-bottom: 50px">


        <div class="col-md-12">
          <div class="content-section">
            <div class="row">
              <div class="col-md-4">
                Enter email associated with your account.<br>
                A password reset link will be sent to that email address.<br>
                <input type="email" name="passResetEmail"><br><br>
                <input type="submit" value="Send Password Reset Email"> 


              </div>
              <div = class="col-md-4">
                
              </div>
              <div class="col-md-4">
                
              </div>  


            </div>
            <div class="row" id="post-container">
              
            </div>
          </div>
        </div>
      </div>
</form>      

</body>
</html>